:root {
  --main-color: #189AB4;
  --second-color: #05445E;
  --three-color: #75E6DA;
  --text-color: #D4F1F4;
}

.navbar {
	box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px;
	background-color: var(--text-color);
}

#nav-brand {
	color: var(--second-color);
}

@media only screen and (min-width: 800px) {
	#nav-form {
		background-color: gray;
	    position: absolute;
	    right: 0px;
	    height: 100%;
	}

	#nav-button {
		background-color: var(--second-color);
	    height: 100%;
	    color: white;
	}
}

#container {
	font-family: 'Roboto', sans-serif;
	margin-top: 56px;
	color: white;
}

#header {
	height: 150vh; 
	background-color: var(--main-color);
}

#header-container {
	margin-left: 50px; 
	margin-right: 50px
}

#header-text-div {
	width: 40%;
	padding: 60px; 
	padding-right: 0px; 
	padding-top: 0px
}

#header-title {
	color: var(--text-color);
	padding-top: 60px;
	font-weight: 400; 
	font-size: 48px;
}

#header-subtitle {
	color: var(--text-color);
	font-size: 18px; 
	font-weight: 400;
}

#service {
	flex: 2;
    height: 90vh;
   	background-color: var(--second-color);
/*    background-image: url(imgs/2.jpg);
    background-size: cover;
	transition: .15s;*/
}

#service:hover {
	transition: .5s;
	filter: grayscale(80%);
}

#service-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 60px;
}

#service-text > h3 {
	font-size: 32px;
}

#posts {
	margin-top: 100px; 
	color: black; 
	background-color: var(--main-color);
}

#post {
	width: 100%; 
	height: 85vh; 
	background-color: var(--three-color);
}

#post:last-child {
	background-color: var(--main-color);
}

#post-text {
	color: var(--text-color);
	height: 100%;
	padding-left: 10%;
	display: flex;
	flex-direction: column;
    justify-content: center;	
}

#post-text:last-child {
	color: var(--second-color);
}

#footer {
	height: 400px;
	margin-top: 100px;
	background-color: var(--second-color);
}

@media only screen and (max-width: 800px) {
	#header-container {
		margin-left: 0px; 
		margin-right: 0px;
	}

	#header-text-div {
		width: 100%;
		padding: 15px;
		padding-top: 5px; 
	}

	#header-title {
		font-size: 34px;
	}

	#service-text {
	    width: 100vw;
	    padding: 40px;
	}


}
