:root {
  --main-color: #189AB4;
  --second-color: #05445E;
}

body {
    background-color: #fff;
}

.navbar {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 2px;
}

#nav-brand {
	color: var(--second-color);
}

@media only screen and (min-width: 800px) {
	#nav-form {
		background-color: var(--second-color);
	    position: absolute;
	    right: 0px;
	    height: 100%;
	}

	#nav-button {
		border-radius: 0px;
		transition: .5s;
	    height: 100%;
	    color: white;
	}

	#nav-button:hover {
		transition: .5s;
		filter: grayscale(80%);
	}
}

#container {
	font-family: 'Roboto', sans-serif;
	margin-top: 56px;
}

#header {
	
}

#header-container {
	margin-left: 50px; 
	margin-right: 50px
}

#header-text-div {
	width: 40%;
	padding: 60px; 
	padding-right: 0px; 
	padding-top: 0px
}

#header-title {
	color: var(--second-color);
	padding-top: 60px;
	font-weight: 400; 
	font-size: 48px;
}

#header-subtitle {
	color: var(--second-color);
	font-size: 18px; 
	font-weight: 400;
}

#services {
	align-content: center;
	justify-content: space-around;
}

#service {
	margin: 10px;
	flex: 1;
    height: 400px;
	transition: .2s;
   	background-color: var(--second-color);
 /* background-image: url(imgs/2.jpg);
    background-size: cover;
	transition: .15s; */
}

#service:hover {
	transition: .5s;
	filter: grayscale(80%);
}

#service-text {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
	padding: 60px;
	color: white;
}

#service-text > h3 {
	font-size: 32px;
}

#posts {
	margin-top: 100px; 
}

#post {
	width: 100%; 
	height: 85vh;
	background-color: var(--main-color);
	transition: .5s;
}

#post:hover {
	transition: .5s;
	filter: grayscale(80%);
}

#post:last-child {
	background-color: var(--second-color);
}

#post-text {
	height: 100%;
	padding-left: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;	
}

#footer {
	display: flex;
	height: 400px;
	margin-top: 100px;
}

#footer-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	align-content: center;
	justify-content: space-around;
	margin: 40px;
}

#contact > div > a {
	font-size: 22px;
}

@media only screen and (min-width: 800px) {
	#contact-form {
		width: 700px;
	}
}

#send {
	width: 100%;
}

@media only screen and (max-width: 800px) {
	#nav-button {

	}

	#header {

	}

	#header-container {
		margin-left: 0px; 
		margin-right: 0px;
	}

	#header-text-div {
		width: 100%;
		padding: 15px;
		padding-top: 5px; 
	}

	#header-title {
		padding-top: 25px;
		font-size: 34px;
	}

	#service {
		flex: 2;
	    height: 100%;
	    transition: .2s;
	}

	#service-text {
	    width: 100vw;
	    padding: 40px;
	}

	#footer {
		height: 800px;
	}

	#footer-container {
		flex-direction: column;
		align-content: center;
		justify-content: space-around;
		margin: 40px;
	}

	#contact > div > a {
		font-size: 22px;

	}

}
